- gemma_id = 181
- helge_id = 8
- claas_id = 108

%h2
  Impressum
%p
  The site is hosted at:
  = link_to("Institute of Biology / Geobotany and Botanical Garden", "https://www.botanik.uni-halle.de/geobotanik/")
%p
  Responsible for the contents of this website is:
  = link_to "Prof. Dr. Helge Bruelheide", {:controller => :users, :action => :show, :id => helge_id}
%p
  General questions should be addressed to
  = link_to "Dr. Gemma Rutten", {:controller => :users, :action => :show, :id => gemma_id}
%p
  IT related questions should be addressed to
  = link_to "Dr. Claas-Thido Pfaff", {:controller => :users, :action => :show, :id => claas_id}

%hr

%p
  %strong
    Angaben gemäß § 5 TMG:
  %br
    Martin Luther University Halle Wittenberg
  %br
    Am Kirchtor 1
  %br
    06108 Halle
%strong
  Vertreten durch
%p
  %strong
    = link_to "Prof. Dr. Helge Bruelheide", {:controller => :users, :action => :show, :id => helge_id}
  %br
    Telefon: +49 345 55 26222
  %br
    Telefax: +49 345 55 27228
  %br
    E-Mail:
    = mail_to("helge.bruelheide@botanik.uni-halle.de", nil, :encode => :javascript)
