%h2
  Imprint
%p
  = link_to("Department of Ecosystem Services", "https://www.idiv.de/groups_and_people/core_groups/ecosystem_service")
%p
  = link_to("Centre for Integrative Biodiversity Reseach (iDiv) Halle-Jena-Leipzig", "https://www.idiv.de")
%p
  Responsible for the contents of this website is:
  %br
  = link_to("Dr. David Eichenberg", "https://www.idiv.de/groups_and_people/employees/details/eshow/eichenberg_david.html")
%p
  Questions should be addressed to:
  %br
  = link_to("Dr. David Eichenberg", "https://www.idiv.de/groups_and_people/employees/details/eshow/eichenberg_david.html")

%hr

%p
  %strong
    Angaben gemäß § 5 TMG:
  %br
  Zentrum für integrative Biodiversitätsforschung (iDiv) Halle-Jena-Leipzig
  %br
  Deutscher Platz 5a
  %br
  04103 Leipzig

%p
  %strong
    Vertreten durch
  %br
  Dr. David Eichenberg
  %br
  Telefon: +49 341 9733187
  %br
  E-Mail:
  %br
  = mail_to("david.eichenberg@idiv.de", nil, :encode => :javascript)
