
- cart_item ||=nil
- category ||=nil
- sheetcell ||=nil

= link_to dataset do
  .card.shadow-sm.mb-4
    .card-body
      %h4.card-title
        = dataset.title
      %p.card-text
        .font-weight-bold.text-dark
          Abstract:
          - if dataset.abstract.present?
            .font-weight-normal.text-dark
              = dataset.abstract.truncate(250)
          - else
            .font-weight-normal.text-dark
              No information avialable
      .pt-2.pb-3
        .float-left
          - if category.present?
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if sheetcell.import_value.present?
                  = fa_icon('fas fa-file-import')
                  Category:
                  = sheetcell.import_value
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if sheetcell.datacolumn.columnheader.present?
                  = fa_icon('fas fa-columns')
                  In Columnheader:
                  = sheetcell.datacolumn.columnheader
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if sheetcell.count.present?
                  = fa_icon('fas fa-calculator')
                  Category count:
                  = sheetcell.count
          - else
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.id.present?
                  = fa_icon('hashtag')
                  Id:
                  = dataset.id
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.users.count
                  = fa_icon('user')
                  Users:
                  = dataset.users.count
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.projects.count
                  = fa_icon('object-group')
                  Projects:
                  = dataset.projects.count
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.datafiles_count
                  = fa_icon('file')
                  Datafiles:
                  = dataset.datafiles_count
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.freeformats_count
                  = fa_icon('paperclip')
                  Attachments:
                  = dataset.freeformats_count
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.created_at
                  = fa_icon('calendar')
                  Created at:
                  = dataset.created_at.strftime("%F")
            .badge.badge-pill.badge-light.m-1
              .p-1
                - if dataset.updated_at
                  = fa_icon('calendar')
                  Updated at:
                  = dataset.updated_at.strftime("%F")

        - if current_user
          .float-right
            .p-1
              - if cart_item.present?
                %div{'data-toggle': 'tooltip', title: 'Delete dataset', 'data-placement': 'auto'}
                  = link_to "<i class='fas fa-trash'></i>".html_safe, "#",
                    { class: "btn btn-sm btn-outline-light text-success",
                    'data-toggle': "modal",
                    'data-target': "#delete_from_cart#{cart_item.id}"}

                // delete confirmation modal
                .modal.fade{id: "delete_from_cart#{cart_item.id}"}
                  .modal-dialog.modal-dialog-centered
                    .modal-content
                      / Modal Header
                      .modal-header
                        %h4.modal-title Are you sure?
                        %button.close{"data-dismiss" => "modal", :type => "button"} ×
                      / Modal body
                      .modal-body
                        Remove dataset:
                        .text-justify.font-weight-bold
                          = dataset.title.truncate(80)
                        from your current cart?
                      / Modal footer
                      .modal-footer
                        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"} Cancel
                        = link_to 'Remove', delete_cart_context_path(cart_item), method: :delete, class: 'btn btn-outline-primary'
              - else
                - if dataset_is_in_cart? dataset
                  %span{'data-toggle': 'tooltip', title: 'Remove dataset from cart', 'data-placement': 'auto'}
                    = link_to "<i class='fas fa-cart-plus'></i>".html_safe, delete_cart_context_path(dataset_id: current_cart.cart_datasets.where(dataset_id: dataset.id).pluck(:id).first),
                    { class: "btn btn-sm btn-block btn-outline-light text-danger", method: :delete }
                - else
                  %span{'data-toggle': 'tooltip', title: 'Add dataset to cart', 'data-placement': 'auto'}
                    = link_to "<i class='fas fa-cart-plus'></i>".html_safe, create_cart_context_path(dataset_id: dataset.id),
                    { class: "btn btn-sm btn-block btn-outline-light text-success", method: :post }
