/ partial for dataset metadata

// variables

- help_text_comment = %q{If you have any comments which you only want to share with administrators and members of the project board use this field. This special comment field can not be seen by any other members of the project. However, project board members, administrators and you will see the comment on listing pages such as the project or people related pages.}

- help_text_access = %q{private: No one can download this data. Free within projects: members of projects you selected above can download. Free for members: All members of the portal can download this data. Free for public: All people can download this data.}

// form
= simple_form_for @dataset, html: { autocomplete: 'off' } do |f|
  = f.error_notification
  %body
    %div
      %ul.nav.nav-tabs
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1", :role => "tab"} Metadata
      .tab-content.equal-height
        #tab-1.tab-pane.active{:role => "tabpanel"}
          .container
            %br
            = f.input :title, required: true
            = f.input :owner_ids, label: "Owners", collection: all_users_names_and_ids_for_select, input_html: { multiple: true }
            // when you have users in your worksheet that are unknown
            - if @unfound_usernames.present?
              .font-weight-bold
                = @unfound_usernames.join(', ')
                can't be found on the portal and won't be saved.
            = f.input :project_ids, as: :select, collection: all_projects_for_select, input_html: { multiple: true }, label: "Projects"
            // phases are only shown when configured
            - if PHASE_CONFIG.present?
              = f.input :project_phase, as: :radio_buttons, collection: all_project_phases_for_select
            = f.input :access_code, as: :radio_buttons, collection: all_dataset_access_righs_for_select, label: "Access Rights", hint: help_text_access
            .input-group
              .pt-2
                = f.input :include_license, as: :boolean, disabled: !@dataset.free_for_public?
              // a button to include the license
              = f.label :include_license do
                %span{'data-toggle': 'tooltip', title: 'Show license', 'data-placement': 'auto'}
                  = link_to "<i class='fas fa-passport'></i>".html_safe, "#",
                    { class: "btn btn-outline-light text-success",
                      'data-toggle': "modal",
                      'data-target': "#license_dataset"}
                // a partial which contains the the license for inspection
                = render :partial => 'sample_license', :locals =>  {:f => @dataset}
            = f.input :usagerights, hint: "Additional notes on usage rights.", input_html: { rows: 5 }
            // todo: add autocomplete from all keywords
            = f.input :tag_list, input_html: { value: f.object.tag_list.join(","), data: { role: 'tagsinput' } }
            = f.input :abstract, input_html: { rows: 10 }
            = f.input :published, input_html: { rows:  4 }
            = f.input :spatialextent, label: "Spatial extent", input_html: { rows: 10 }
            = f.input :datemin, as: :date, label: "Start date", default: @dataset.datemin, start_year: Time.now.year - 15, end_year: Time.now.year + 5
            = f.input :datemax, as: :date, label: "End date", default: @dataset.datemax, start_year: Time.now.year - 15, end_year: Time.now.year + 5
            = f.input :temporalextent, label: "Temporal extent", input_html: { rows: 4 }
            = f.input :taxonomicextent, label: "Taxonomic extent", input_html: { rows: 7 }
            = f.input :design, input_html: { rows: 10 }
            = f.input :dataanalysis, input_html: { rows: 10 }
            = f.input :circumstances, hint: "The circumstances during data aquisition.", input_html: { rows: 10 }
            = f.input :comment, hint: help_text_comment, input_html: { rows: 10 }
            %div.pt-5.pb-2
              - if @dataset.new_record?
                = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, datasets_path,
                  { class: "btn btn-outline-primary" }
              - else
                = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, dataset_path(@dataset),
                  { class: "btn btn-outline-primary" }
              = f.button :submit, class: "btn btn-outline-primary"

/ scripts

// setup select pickers
:javascript
  $(function () {
    $('select').selectpicker({
      liveSearch: true,
      liveSearchPlaceholder: "type to filter ...",
      actionsBox: true
    });
  });

// setup the tag input field
:javascript
  $(function() {
    $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
  });

// enable and disable checkbox for license
:javascript
  $(function() {
    var public_radio_button = $("input:radio[name='dataset[access_code]']").filter("#dataset_access_code_3");
    var license_controll = $("#dataset_include_license:checkbox");

    $("input:radio[name='dataset[access_code]']").change(function(){
      if (public_radio_button.is(":checked")) {
        license_controll.attr({disabled: false, checked:'checked'});
      } else {
        license_controll.attr({checked: false, disabled: true});
      }
    })
  });
