#dataset_import
  #import_status.d-none
    = @dataset.import_status
  #import_animation
    %span{'data-toggle': 'tooltip', title: 'Importing', 'data-placement': 'auto'}
      %button.btn.btn-sm.btn-block.btn-outline-light.text-success{:type => "button"}
        %span.spinner-border.spinner-border-sm{"aria-hidden" => "true", :role => "status"}
        %span.sr-only Loading...
  #on_import_success.d-none
    %span{'data-toggle': 'tooltip', title: 'Dataset import success', 'data-placement': 'auto'}
      = link_to "<i class='fas fa-file-alt'></i>".html_safe, "#",
        { class: "btn btn-sm btn-block btn-outline-light text-success",
          'data-turbolinks': false }
  #on_import_error.d-none
    %span{'data-toggle': 'tooltip', title: 'Dataset impot error', 'data-placement': 'auto'}
      = link_to "<i class='fas fa-file-alt'></i>".html_safe, "#",
        { class: "btn btn-sm btn-block btn-outline-light text-danger",
          'data-turbolinks': false }
  %noscript
    %p
      Javascript is disabled - Reload the page to see updates.

- unless @dataset.import_status.starts_with?('error')
  :javascript
    // when importing disable buttons
    $(document).ready(function() {
      $('.disable_on_import').find('.btn').addClass('disabled');
      console.log("importing data: disabling buttons");
    });

    // set elements for betterhandling
    let status_element = $("#import_status");
    let element_to_show_on_success = $("#on_import_success");
    let element_to_hide_on_success = $("#import_animation");
    let element_to_show_on_error = $("#on_import_error");
    let element_to_hide_on_error = $("#import_animation");

    let is_success = false;
    (function poll_import_status() {
        let timeout = setTimeout(function() {
            $.ajax({
                url: "#{importing_dataset_url @dataset.id}",
                success: function(data) {
                    status_element.text(data);

                    if (data == "finished" || data == "unknown") {
                        element_to_hide_on_success.addClass('d-none');
                        element_to_show_on_success.removeClass('d-none');
                        is_success = true;
                    }

                    if(data.slice(0,5) == 'error') {  //String starts with 'error'
                      element_to_hide_on_error.addClass('d-none');
                      element_to_show_on_error.removeClass('d-none');
                      is_success = true;
                    }

                },
                dataType: "text",
                contentType: "text/plain",
                complete: poll_import_status,
                timeout: 2000
            })
        }, 5000);

        if (is_success) {
            console.log("importing finished: disable polling");
            window.clearTimeout(timeout);

            $.ajax({
              url: "#{dataset_url @dataset.id}.js",
              dataType: 'script',
              success: function() {
                var maxHeight=0;
                $(".tab-content.equal-height .tab-pane").each(function(){
                  $(this).addClass("active");
                    var height = $(this).height();
                    maxHeight = height>maxHeight?height:maxHeight;
                    $(this).removeClass("active");
                });
                $(".tab-content.equal-height .tab-pane:first").addClass("active");
                $(".tab-content.equal-height").height(maxHeight);
                console.log("importing finished: enabling button");
                $('.disable_on_import').find('.btn').removeClass('disabled');
              },
            });
        }
    })();
