-# this partial renders a modal, which will allow you to submit dataset_edits
-# please gimme a variable called dataset_edit so we know what this is about

// submit changes to the users when updating a dataset
#annotate_changes_dataset.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title
          Annotate changes
        %button.close{"data-dismiss" => "modal", :type => "button"}
          ×
      / Modal body
      .modal-body
        .modal-form
          = simple_form_for dataset_edit, url: submit_dataset_dataset_edit_path(@dataset, dataset_edit), method: :post do |f|
            = f.input :description, input_html: { rows: 6 }
            .div.pb-2
              Notify users:
            .div.pb-1
              = check_box_tag('notify[downloaders]', true)
              = label_tag 'notify[downloaders]' do
                = "Downloaders (#{@dataset.downloaders.count})"
            .div.pb-1
              = check_box_tag('notify[proposers]', true)
              = label_tag 'notify[proposers]' do
                = "Paperproposal authors (#{@dataset.proposers.count})"
            = f.button :submit, "Submit", class: "btn btn-outline-primary", :style => "display: none;"

      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"}
          Close
        #submit_annotate_changes_dataset.btn.btn-outline-primary
          Submit

:javascript
  // when submit button is clicked
  $(document).ready(function() {
    $('#submit_annotate_changes_dataset').click(function () {
      $('.modal-form').find('input[type=submit]').click();
    });
  });
