/ body

// partial for datagroup
= link_to datagroup do
  .card.shadow-sm.mb-4
    .card-body
      %h4.card-title
        = datagroup.title
      %p.card-text
        .font-weight-bold.text-dark
          Description:
        - if datagroup.description.present?
          .font-weight-normal.text-dark
            = datagroup.description.truncate(200)
        - else
          .font-weight-normal.text-dark
            No information available
      .pt-2.pb-3
        .float-left
          - if datagroup.id.present?
            .badge.badge-pill.badge-light.m-1
              .p-1
                = fa_icon('hashtag')
                ID:
                = datagroup.id

          - if datagroup.categories_count.present?
            .badge.badge-pill.badge-light.m-1
              .p-1
                = fa_icon('list-alt')
                Categories:
                = datagroup.categories_count

          - if datagroup.datacolumns_count.present?
            .badge.badge-pill.badge-light.m-1
              .p-1
                = fa_icon('columns')
                Datacolumns:
                = datagroup.datacolumns_count

          - if datagroup.created_at.present?
            .badge.badge-pill.badge-light.m-1
              .p-1
                = fa_icon('calendar')
                Created at:
                = datagroup.created_at.strftime("%F")

          - if datagroup.updated_at.present?
            .badge.badge-pill.badge-light.m-1
              .p-1
                = fa_icon('calendar')
                Updated at:
                = datagroup.updated_at.strftime("%F")
