= simple_form_for @datagroup do |f|
  = f.error_notification
  %body
    %div
      %ul.nav.nav-tabs
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1", :role => "tab"} Metadata
      .tab-content.equal-height
        #tab-1.tab-pane.active{:role => "tabpanel"}
          .container
            %br
            = f.input :title
            = f.input :description, :input_html => {:rows => 10}
            = f.input :comment, :input_html => {:rows => 10}
            -# todo: check if you can implement adding categories right away from here.
            -# the form has been removed and now adding and mofiying categories is possible
            -# using csv files in a form in a modal. Maybe open the modal right away or
            -# allow adding the categories here from a file in the future.
            -# - if @datagroup.new_record?
              -# %div
                -# = check_box_tag :import
                -# = label_tag :import, 'Go on to add categories'

  .container
    %div.pt-5.pb-2
      - if @datagroup.new_record?
        = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, datagroups_path,
          { class: "btn btn-outline-primary" }
      - else
        = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, datagroup_path(@datagroup),
          { class: "btn btn-outline-primary" }
      = f.button :submit, class: "btn btn-outline-primary"
