/ head

// title
- page_title 'Datagroups'

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      Index: datagroups

// sidebar
= content_for :actions do
  #actions.pt-1
    // scroll up
    = link_to "<i class='fas fa-angle-double-up'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-top",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Up" ,
      'data-placement': "auto"}
    // actions
    .div.pt-2.pb-2
      - unless current_user.has_role?(:admin) || current_user.has_role?(:data_admin)
        .btn.btn-sm.btn-outline-light
          .text-muted
            o

      / section tools
      - if current_user
        - if current_user.has_role?(:admin) || current_user.has_role?(:data_admin)
          .border-top.border-right.border-left.rounded.top-2.pb-1
            %span{'data-toggle': 'tooltip', title: 'Tools section', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-wrench'></i>".html_safe, "#",
                { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                  'data-turbolinks': false }
      // section tools content
      - if current_user
        - if current_user.has_role?(:admin) || current_user.has_role?(:data_admin)
          .div.pt-2
            = link_to "<i class='fas fa-plus'></i>".html_safe, new_datagroup_path,
              { class: "btn btn-sm btn-block btn-outline-light text-success",
              'data-toggle': "tooltip",
              title: "Add new datagroup" ,
              'data-placement': "auto"}
      // add a separator if more actions are appended
      -# .div.pb-4
    // scroll down
    = link_to "<i class='fas fa-angle-double-down'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-bottom",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Down" ,
      'data-placement': "auto"}


// filters
.div.pl-2
  .div.pb-3.pt-3
    = simple_form_for :search, url: datagroups_path, method: :get do |f|
      / search bar
      %h5
        Search:
      - if params.has_key?(:search) ? params[:search].has_key?(:query) : false
        = f.input :query, required: false, label: false do
          .input-group
            = f.input_field :query, class: "form-control", placeholder: "Type...", value: params[:search][:query]
            .input-group-append
              #project_search_button.btn.btn-outline-primary
                Submit
            .input-group-append
              = link_to "Reset", datagroups_path, class: "btn btn-outline-primary"
      - else
        = f.input :query, required: false, label: false do
          .input-group
            = f.input_field :query, class: "form-control", placeholder: "Type...", value: ""
            .input-group-append
              #project_search_button.btn.btn-outline-primary
                Submit
            .input-group-append
              = link_to "Reset", datagroups_path, class: "btn btn-outline-primary"

  // sorting
  .div.pb-4
    %h5
      Sort:
    .btn-group
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "title"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "categories_count", "Categories", "numeric"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "datacolumns_count", "Columns", "numeric"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "created_at", "Created", "numeric"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "updated_at", "Updated", "numeric"


  // content
  - if @datagroups.present?
    #filter_target_datagroups.card-columns.single
      - @datagroups.each do |datagroup|
        = render partial: datagroup
  - else
    No information avialable

  #filter_target_datagroups_empty_note.d-none
    No information available

  // pagination
  .div
    .pt-3
      != pagy_bootstrap_nav @pagy


/ scripts

// setup hover shadow on the cards
:javascript
  $(document).ready(function() {
    $( ".card" ).hover(
      function() {
        $(this).addClass('shadow').css('cursor', 'pointer');
      }, function() {
        $(this).removeClass('shadow');
      }
    );
  });

// setup hover shadow on the cards
:javascript
  $(document).ready(function() {
    $( ".card" ).hover(
      function() {
        $(this).addClass('shadow').css('cursor', 'pointer');
      }, function() {
        $(this).removeClass('shadow');
      }
    );
  });

// scolling on button click
:javascript
  $(document).ready(function(){
    // scroll body to 0px on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
          }, 400);
            return false;
    });

    // scroll body to 0px on click
    $('#back-to-bottom').click(function () {
      $('body,html').animate({
        scrollTop: $('html, body').get(0).scrollHeight
          }, 400);
            return false;
    });
  });

// filter the datagroups
:javascript
  $(document).ready(function() {
    $('#filter_input_datagroups').keyup(function (){
      $('.card').removeClass('d-none');
        var filter = $(this).val(); // get the value of the input, which we filter on
          $('#filter_target_datagroups').find('.card .card-body:not(:contains("'+filter+'"))').parent().addClass('d-none');
          if (!$("#filter_target_datagroups").find('.card').is(':visible')) {
            $("#filter_target_datagroups_empty_note").removeClass('d-none');
          } else {
            $("#filter_target_datagroups_empty_note").addClass('d-none');
          };
      });
    });

  $(document).ready(function() {
    $('#button_clear_datagroups_filter').click(function(){
      $('#filter_input_datagroups').each(function(){
        $(this).val('');
      });
      $('#filter_target_datagroups').find('.card').removeClass('d-none');
      $("#filter_target_datagroups_empty_note").addClass('d-none');
    });
  });
