/ header

// title
- page_title "Datagroup: #{@datagroup.title}"

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %span{'data-toggle': 'tooltip', title: 'Back to index', 'data-placement': 'auto'}
        %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
        = link_to "Show: #{@datagroup.title.truncate(80)}", datagroups_path, class: 'text-muted'

// sidebar
= content_for :actions do
  #actions.pt-1
    // scroll to top
    = link_to "<i class='fas fa-angle-double-up'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-top",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      'title': "Up" ,
      'data-placement': "auto"}

    // actions
    .div.pt-2.pb-2

      // placeholder if action bar is empty
      - unless current_user
        .btn.btn-sm.btn-outline-light
          .text-muted
            o

      // section info
      - if current_user
        - if @datagroup.comment.present?
          = show_to :admin, :data_admin, :project_board do
            .border-top.border-right.border-left.rounded.top-2.pb-1
              %span{'data-toggle': 'tooltip', title: 'Info section', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-info'></i>".html_safe, "#",
                  { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                    'data-turbolinks': false }
      // section info content
      - if current_user
        - if @datagroup.comment.present?
          = show_to :admin, :data_admin, :project_board do
            .div.pt-2
              %span{'data-toggle': 'tooltip', title: 'Show comment', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-comments'></i>".html_safe, "#",
                  { class: "btn btn-sm btn-block btn-outline-light text-success",
                    'data-toggle': "modal",
                    'data-target': "#comment_datagroup"}
            .div.pb-4

      / section edit
      - if current_user
        - if current_user.admin? || current_user.data_admin?
          .border-top.border-right.border-left.rounded.top-2.pb-1
            %span{'data-toggle': 'tooltip', title: 'Edit section', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-pencil-alt'></i>".html_safe, "#",
                { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                  'data-turbolinks': false }

      // section edit content
      - if current_user
        - if current_user.admin? || current_user.data_admin?
          .div.pt-2
            - if @datasets.present?
              %div{'data-toggle': 'tooltip', title: 'Edit Datacolumns', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-file'></i>".html_safe, datacolumns_datagroup_path(@datagroup),
                  { class: "btn btn-sm btn-block btn-outline-light text-success" }
            %div{'data-toggle': 'tooltip', title: 'Edit metadata', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-tag'></i>".html_safe, edit_datagroup_path(@datagroup),
                { class: "btn btn-sm btn-block btn-outline-light text-success" }
        - if current_user.admin? || current_user.data_admin?
          %span{'data-toggle': 'tooltip', title: 'Manage categories', 'data-placement': 'auto'}
            = link_to "<i class='fas fa-layer-group'></i>".html_safe, "#",
              { class: "btn btn-sm btn-block btn-outline-light text-success",
                'data-toggle': "modal",
                'data-target': "#manage_datagroups_categories"}

          .div.pb-4

      / section tools
      - if current_user
        - if current_user.admin? || current_user.data_admin?
          .border-top.border-right.border-left.rounded.top-2.pb-1
            %span{'data-toggle': 'tooltip', title: 'Tools section', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-wrench'></i>".html_safe, "#",
                { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                  'data-turbolinks': false }

      / section tools content
      - if current_user
        - if current_user.admin? || current_user.data_admin?
          .div.pt-2
            - if @datasets.empty?
              %div{'data-toggle': 'tooltip', title: 'Delete datagroup', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-trash'></i>".html_safe, "#",
                  { class: "btn btn-sm btn-block btn-outline-light text-success",
                  'data-toggle': "modal",
                  'data-target': "#delete_datagroup"}
            - else
              %div{'data-toggle': 'tooltip', title: 'Not deletable (in use)', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-trash'></i>".html_safe, "#",
                  { class: "btn btn-sm btn-block btn-outline-light text-success disabled",
                  'data-toggle': "modal",
                  'data-target': "#delete_datagroup"}
          .div.pb-4

      // section download
      - if @datagroup.categories.present?
        .border-top.border-right.border-left.rounded-top.pb-1
          %span{'data-toggle': 'tooltip', title: 'Download section', 'data-placement': 'auto'}
            = link_to "<i class='fas fa-download'></i>".html_safe, "#",
              { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                'data-turbolinks': false }
      // section content
      - if @datagroup.categories.present?
        .div.pt-2
          // download categories
          %div{'data-toggle': 'tooltip', title: 'Downlod category CSV', 'data-placement': 'auto'}
            = link_to "<i class='fas fa-file-alt'></i>".html_safe, datagroup_categories_path(@datagroup, format: :csv),
              { class: "btn btn-sm btn-block btn-outline-light text-success" }

    // scroll to bottom
    = link_to "<i class='fas fa-angle-double-down'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-bottom",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Down" ,
      'data-placement': "auto"}


// tabs with content
.div.pl-2
  .div.pb-3.pt-3
    .row
      .col
        %ul#tabs.nav.nav-tabs
          %li.nav-item
            %a.nav-link.active{"data-toggle" => "tab", :href => "#datagroup_tab_1", :role => "tab"} Metadata
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#datagroup_tab_2", :role => "tab"} Categories
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#datagroup_tab_3", :role => "tab"} Datasets
        .tab-content.equal-height
          // metadata
          #datagroup_tab_1.tab-pane.active{:role => "tabpanel"}
            .container
              %br
              .div.pb-3
                .font-weight-bold.text-dark
                  Description:
                - if @datagroup.description.present?
                  .font-weight-normal.text-dark
                    = @datagroup.description
                - else
                  .font-weight-normal.text-muted
                    No information available

          // categories
          #datagroup_tab_2.tab-pane{:role => "tabpanel"}
            .container
              %br
              - if @categories.present?
                %div.pb-1
                  .font-weight-bold.text-dark
                    Filter:

                %div.pb-3
                  .input-group
                    %input#filter_input_categories.form-control{:placeholder => "Type..", :type => "text"}
                    .input-group-append
                      = link_to "Reset", "javascript:void(0)".html_safe,
                        { class: "btn btn-outline-primary", id: "button_clear_categories_filter",
                        'data-toggle': "tooltip",
                        'data-turbolinks': false,
                        'title': "Clear Filter" ,
                        'data-placement': "auto"}

                #filter_target_categories.card-columns.triple
                  - @categories.each do |category|
                    .card.shadow-sm.mb-4
                      .card-header
                        .font-weight-bold.text-muted
                          %span
                            Category:
                      .card-body
                        %p.card-text
                          .div.pb-3
                            .font-weight-bold.text-dark
                              Short:
                            - if category.short.present?
                              .font-weight-normal.text-dark
                                = category.short
                            - else
                              .font-weight-normal.text-muted
                                No information available

                          .div.pb-3
                            .font-weight-bold.text-dark
                              Long:
                            - if category.long.present?
                              .font-weight-normal.text-dark
                                = category.long
                            - else
                              .font-weight-normal.text-muted
                                No information available

                          .div.pb-3
                            .font-weight-bold.text-dark
                              Description:
                            - if category.description.present?
                              .font-weight-normal.text-dark
                                = category.description
                            - else
                              .font-weight-normal.text-muted
                                No information available

                          .div.pb-3
                            .font-weight-bold.text-dark
                              Occurences:
                            - if category.count.present?
                              .font-weight-normal.text-dark
                                = category.count
                            - else
                              .font-weight-normal.text-muted
                                No information available

                #filter_target_categories_empty_note.d-none
                  No information available

              - else
                .font-weight-normal.text-dark
                  No information available


          // datasets
          #datagroup_tab_3.tab-pane{:role => "tabpanel"}
            .container
              %br
              - if @datasets.present?
                // filter for datasets
                %div.pb-1
                  .font-weight-bold.text-dark
                    Filter:

                %div.pb-3
                  .input-group
                    %input#filter_input_datasets.form-control{:placeholder => "Type..", :type => "text"}
                    .input-group-append
                      = link_to "Reset", "javascript:void(0)".html_safe,
                        { class: "btn btn-outline-primary", id: "button_clear_datasets_filter",
                        'data-toggle': "tooltip",
                        'data-turbolinks': false,
                        'title': "Clear Filter" ,
                        'data-placement': "auto"}

                // cards listing datasets
                #filter_target_datasets.card-columns.single
                  - @datasets.each do |dataset|
                    = render partial: dataset

                #filter_target_datasets_empty_note.d-none
                  .font-weight-normal.text-dark
                    No information available

              - else
                .font-weight-normal.text-dark
                  No information available


/ modals

// delete confirmation modal
#delete_datagroup.modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title Delete Confirmation
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      / Modal body
      .modal-body
        Are you sure?
      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"} Cancel
        = link_to 'Delete', datagroup_path(@datagroup), method: :delete, class: 'btn btn-outline-primary'

// comment display modal
#comment_datagroup.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title
          Comment
        %button.close{"data-dismiss" => "modal", :type => "button"}
          ×
      / Modal body
      .modal-body
        - if @datagroup.comment.present?
          = show_to :admin, :data_admin, :project_board do
            = @datagroup.comment
      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"}
          Close

// manage datagroups categories
#manage_datagroups_categories.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title
          Manage datagroup categories
        %button.close{"data-dismiss" => "modal", :type => "button"}
          ×
      / Modal body
      .modal-body
        %ul#tabs.nav.nav-tabs
          %li.nav-item
            %a.active.nav-link.active{"data-toggle" => "tab", :href => "#manage_datagroup_categories_change", :role => "tab"} Change
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#manage_datagroup_categories_add", :role => "tab"} Add
        .tab-content.equal-height-modal
          // metadata
          #manage_datagroup_categories_change.tab-pane.active{:role => "tabpanel"}
            .container
              %br
              You can manage the categories belonging to a datagroup via a csv file.
              In the first step you download the #{link_to 'csv file', datagroup_categories_path(@datagroup, format: :csv)}.
              In that file you make your changes to the respective categories. You can rename
              categories, change their descriptions or merge different categries
              together. When you are done with your changes you upload the file using
              the form below.

              = simple_form_for @datagroup,
                url: { controller: :datagroups, action: :update_categories, id: @datagroup.id },
                html: { multipart: true },
                wrapper_mappings: { file: :custom_file },
                method: :post do |f|
                = f.error_notification
                = f.input :file, as: :file, required: true
                .btn-group
                  %div{'data-toggle': 'tooltip', title: 'Downlod category csv', 'data-placement': 'auto'}
                    = link_to "Download csv".html_safe, datagroup_categories_path(@datagroup, format: :csv),
                      { class: "btn btn btn-outline-primary mr-2" }
                  = f.button :submit, "Upload", class: "btn btn-outline-primary rounded"
          #manage_datagroup_categories_add.tab-pane{:role => "tabpanel"}
            .container
              %br

              You can add categories to a datagroup via a csv file.
              In the first step you download the #{link_to 'CSV template file', '/templates/template-to-import-categories.csv'}.
              In that file you add your respective categories. When you are done
              select the file using the form below and click upload to add
              your new categories.

              = simple_form_for @datagroup,
                url: import_categories_datagroup_path(@datagroup),
                html: { multipart: true },
                wrapper_mappings: { file: :custom_file },
                method: :post do |f|
                = f.error_notification
                = f.input :file, as: :file, required: true
                .btn-group
                  %div{'data-toggle': 'tooltip', title: 'Downlod template csv', 'data-placement': 'auto'}
                    = link_to "Download csv".html_safe, '/templates/template-to-import-categories.csv',
                      { class: "btn btn btn-outline-primary mr-2" }
                  = f.button :submit, "Upload", class: "btn btn-outline-primary rounded"

      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"}
          Close


// manage datagroups categories
#add_datagroups_categories.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title
          Add datagroups categories
        %button.close{"data-dismiss" => "modal", :type => "button"}
          ×
      / Modal body
      .modal-body
        Add datagroups
        %br
      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"}
          Close


/scripts

// activate the correct main navigation link
:javascript
  $(document).ready(function() {
    $('#navigation_datagroups_path').find('.nav-item').addClass('active');
  });

// set tabs to equal height
:javascript
  $(document).ready(function() {
    var maxHeight=0;
    $(".tab-content.equal-height .tab-pane").each(function(){
      $(this).addClass("active");
        var height = $(this).height();
        maxHeight = height>maxHeight?height:maxHeight;
        $(this).removeClass("active");
    });
    $(".tab-content.equal-height .tab-pane:first").addClass("active");
    $(".tab-content.equal-height").height(maxHeight);
  });

// re-active last active tab on page reload
:javascript
  // $(document).on('turbolinks:load', function(){
  $(document).ready(function() {
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
      localStorage.setItem('activeTab', $(e.target).attr('href'));
      $(e.target).addClass('active');
      $(e.relatedTarget).removeClass('active')
    });

    var lastActiveTab = localStorage.getItem('activeTab');

    if(lastActiveTab){
      $('.nav-tabs a[href="' + lastActiveTab + '"]').tab('show')
    } else {
      $('.nav-tabs a[href="#datagroup_tab_1"]').tab('show')
    }
  });

// enalbel scroll on button click
:javascript
  $(document).ready(function(){
    // scroll body top on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
          }, 400);
            return false;
    });

    // scroll body bottom on click
    $('#back-to-bottom').click(function () {
      $('body,html').animate({
        scrollTop: $('html, body').get(0).scrollHeight
          }, 400);
            return false;
    });
  });

// todo: check remove: data table
:javascript
  $(document).on('turbolinks:load', function(){
    $("table[role='datatable']").each(function(){
      var myTable = $(this).DataTable({
        processing: true,
        serverSide: true,
        ajax: $(this).data('url'),
        'columnDefs': [ {
          'targets': [3], /* column index */
          'orderable': false, /* true or false */
       }]
      });
    });
  });

// workaround for displaying selected file
:javascript
  $('.custom-file-input').change(function(e){
    var fileName = e.target.files[0].name;
    $(`.custom-file-label[for=${e.currentTarget['id']}]`).html(fileName);
  });

// filter the categories
:javascript
  $(document).ready(function() {
    $('#filter_input_categories').keyup(function (){
      $('.card').removeClass('d-none');
        var filter = $(this).val(); // get the value of the input, which we filter on
          $('#filter_target_categories').find('.card .card-body:not(:contains("'+filter+'"))').parent().addClass('d-none');
          if (!$("#filter_target_categories").find('.card').is(':visible')) {
            $("#filter_target_categories_empty_note").removeClass('d-none');
          } else {
            $("#filter_target_categories_empty_note").addClass('d-none');
          };
      });
    });

  $(document).ready(function() {
    $('#button_clear_categories_filter').click(function(){
      $('#filter_input_categories').each(function(){
        $(this).val('');
      });
      $('#filter_target_categories').find('.card').removeClass('d-none');
      $("#filter_target_categories_empty_note").addClass('d-none');
    });
  });

  $(document).ready(function() {
    $('.nav-link').click(function(){
      $('#filter_input_categories').each(function(){
        $(this).val('');
        $('#filter_target_categories').find('.card').removeClass('d-none');
        $("#filter_target_categories_empty_note").addClass('d-none');
      });
    });
  });

// filter the datasets
:javascript
  $(document).ready(function() {
    $('#filter_input_datasets').keyup(function (){
      $('.card').removeClass('d-none');
        var filter = $(this).val(); // get the value of the input, which we filter on
          $('#filter_target_datasets').find('.card .card-body:not(:contains("'+filter+'"))').parent().addClass('d-none');
          if (!$("#filter_target_datasets").find('.card').is(':visible')) {
            $("#filter_target_datasets_empty_note").removeClass('d-none');
          } else {
            $("#filter_target_datasets_empty_note").addClass('d-none');
          };
      });
    });

  $(document).ready(function() {
    $('#button_clear_datasets_filter').click(function(){
      $('#filter_input_datasets').each(function(){
        $(this).val('');
      });
      $('#filter_target_datasets').find('.card').removeClass('d-none');
      $("#filter_target_datasets_empty_note").addClass('d-none');
    });
  });

  $(document).ready(function() {
    $('.nav-link').click(function(){
      $('#filter_input_datasets').each(function(){
        $(this).val('');
        $('#filter_target_datasets').find('.card').removeClass('d-none');
        $("#filter_target_datasets_empty_note").addClass('d-none');
      });
    });
  });


/ modal: when the submit button is clicked on the form
:javascript
  $(document).ready(function() {
    $('.submit_edit_category_form').click(function () {
      $(this).closest('.modal-content').find('input[type=submit]').click();
    });
  });
