/ head

/ title
- page_title "Update & Merge categories of #{@datagroup.title}"

-# - content_for :actions do
  -# = link_to datagroup_path(@datagroup) do
    -# = image_tag "back.png"
    -# Back to Data group

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      Update and merge categories of: #{@datagroup.title.truncate(80)}

%h3 Upload CSV with altered categories

= simple_form_for @datagroup,
  url: { controller: :datagroups, action: :update_categories, id: @datagroup.id },
  html: { multipart: true },
  wrapper_mappings: { check_boxes: :vertical_collection, radio_buttons: :vertical_collection, file: :custom_file, boolean: :custom_boolean_switch },
  method: :post do |f|
  = f.error_notification
  = f.input :file, as: :file
  %div.pt-5.pb-2
    = f.button :submit, class: "btn btn-outline-primary"

-# = form_for csvfile:, url: { controller: :datagroups,
  -# action: :update_categories, id: @datagroup.id }, html: { multipart: true} do |f|
  -# = f.error_messages
  -# = f.file_field :file
  -# %br
  -# = f.submit 'File upload'
