/ title

- page_title 'People'

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      Index: people

// sidebar
= content_for :actions do
  #actions.pt-1
    // scroll to top
    = link_to "<i class='fas fa-angle-double-up'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-top",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      'title': "Up" ,
      'data-placement': "auto"}

    // actions
    .div.pt-2.pb-2

      // placeholder if action bar is empty
      - if current_user
        - unless current_user.has_role?(:admin).present?
          .btn.btn-sm.btn-outline-light
            .text-muted
              o
      - else
        .btn.btn-sm.btn-outline-light
          .text-muted
            o

      / section tools
      - if current_user
        - if current_user.has_role?(:admin).present?
          .border-top.border-right.border-left.rounded.top-2.pb-1
            %span{'data-toggle': 'tooltip', title: 'Tools section', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-wrench'></i>".html_safe, "#",
                { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                  'data-turbolinks': false }
      // section tools content
      - if current_user
        = show_to :admin do
          .div.pt-2
            %span{'data-toggle': 'tooltip', title: 'Add new user', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-plus'></i>".html_safe, new_user_path,
                { class: "btn btn-sm btn-block btn-outline-light text-success" }
          -# .div.pb-4

    // scroll to bottom
    = link_to "<i class='fas fa-angle-double-down'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-bottom",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Down" ,
      'data-placement': "auto"}


// filters
.div.pl-2
  .div.pb-2.pt-3
    = simple_form_for :search, url: users_path, method: :get do |f|
      / search bar
      %h5
        Search:
      - if params.has_key?(:search) ? params[:search].has_key?(:query) : false
        = f.input :query, required: false, label: false do
          .input-group
            = f.input_field :query, class: "form-control", placeholder: "Type...", value: params[:search][:query]
            .input-group-append
              #search_button.btn.btn-outline-primary
                Submit
            .input-group-append
              = link_to "Reset", users_path, class: "btn btn-outline-primary"
      - else
        = f.input :query, required: false, label: false do
          .input-group
            = f.input_field :query, class: "form-control", placeholder: "Type...", value: ""
            .input-group-append
              #search_button.btn.btn-outline-primary
                Submit
            .input-group-append
              = link_to "Reset", users_path, class: "btn btn-outline-primary"
      = f.button :submit, "Submit", class: "btn btn-outline-primary", :style => "display: none;"


  // sorting
  .div.pb-4
    %h5
      Sort:
    .btn-group
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "firstname"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "lastname"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "created_at", "Created", "numeric"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "updated_at", "Updated", "numeric"

  // content
  - if @users.present?
    -# .card-columns.triple
      -# - @users.each do |user|
        -# // render partial projects
        -# = render partial: user
    .masonry
      - @users.each do |user|
        // render partial projects
        = render partial: user
  - else
    No information avialable

  // pagination
  .div
    .pt-3
      != pagy_bootstrap_nav @pagy


/ scripts

// enable hover shadow on cards
:javascript
  $(document).ready(function() {
    $( ".card" ).hover(
      function() {
        $(this).addClass('shadow').css('cursor', 'pointer');
      }, function() {
        $(this).removeClass('shadow');
      }
    );
  });

// enalbel scroll on button click
:javascript
  $(document).ready(function(){
    // scroll body top on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
          }, 400);
            return false;
    });

    // scroll body bottom on click
    $('#back-to-bottom').click(function () {
      $('body,html').animate({
        scrollTop: $('html, body').get(0).scrollHeight
          }, 400);
            return false;
    });
  });

// submit the form
:javascript
  // when search button is clicked
  $(document).ready(function() {
    $('#search_button').click(function () {
      var $form = $(this).closest('form');
      $form.find('input[type=submit]').click();
    });
  });


