/ select input
- if current_cart.datasets.count > 0
  - current_cart.datasets.each do |dataset|
    .pb-2
      .dataset
        = select_tag "datasets[][id]", options_for_select(@all_datasets.map{|ds| [ds.title, ds.id]}, selected: dataset.id), class: 'select'
        %span As
        = select_tag "datasets[][aspect]", options_for_select(['main','side'], selected: datasets[:aspect]), class: 'select'
        .remove_button.btn.btn-sm.btn-outline-danger
          = fa_icon('trash', text: "Remove Dataset")
- else
  .pb-2
    .dataset
      = select_tag "datasets[][id]", options_for_select(@all_datasets.map{|ds| [ds.title, ds.id]}), class: 'select'
      %span As
      = select_tag "datasets[][aspect]", options_for_select(['main','side']), class: 'select'
      .remove_button.btn.btn-sm.btn-outline-danger
        = fa_icon('trash', text: "Remove Dataset")
