/ body

// partial
= simple_form_for @paperproposal do |f|
  = f.error_notification
  %div
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1", :role => "tab"} Metadata
      %li.nav-item
        %a.nav-link{"data-toggle" => "tab", :href => "#tab-2", :role => "tab"} Association
    .tab-content.equal-height
      // metadata
      #tab-1.tab-pane.active{:role => "tabpanel"}
        .container
          %br
          = f.input :title, required: true
          - unless @paperproposal.new_record?
            %p
              Initial title was: #{@paperproposal.initial_title}
          = f.input :rationale, input_html: { rows: 20 }
          = f.input :envisaged_journal, input_html: { rows: 2 }
          = f.input :envisaged_date, label: 'Envisaged publication date'
          = f.input :state, label: 'Status', as: :select, collection: ["in prep", "manuscript avaible", "in review", "accepted"]
          = f.input :external_data
          = f.input :comment
      // users
      #tab-2.tab-pane{:role => "tabpanel"}
        .container
          %br
          - unless limited_edit_of_final?
            = f.input :author_id, as: :select, collection: all_users_names_and_ids_for_select
          - proponents = defined?(@temp_proponents) ? @temp_proponents : @paperproposal.proponents
          .div.pb-1
            = label_tag "Main proponents"
            %p (Main proponents are those authors, that contribute major aspects to the analysis.)
            = select_tag "people[]", options_for_select(all_users_names_and_ids_for_select, proponents.pluck(:id)),
              multiple: true,
              class: 'filter-option form-control',
              id: "user_selection"
          %br
          = f.input :project_id, as: :select, collection: all_projects_for_select, input_html: { multiple: true }
  .container
    %div.pt-5.pb-2
      - if @paperproposal.new_record?
        = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, paperproposals_path,
          { class: "btn btn-outline-primary" }
      - else
        = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, paperproposal_path(@paperproposal),
          { class: "btn btn-outline-primary" }
      = f.button :submit, class: "btn btn-outline-primary"

/ scripts

// setup select pickers
:javascript
  // init
  $(function () {
    $('select').selectpicker({
      liveSearch: true,
      liveSearchPlaceholder: "type to filter ...",
      actionsBox: true
    });
  });

  // fix style on cache reload of pickers
  $(document).on('turbolinks:before-cache', function() {
    $('select').selectpicker('destroy').addClass('selectpicker')
  });
