/ head

// title
- page_title "Edit datasets of #{@paperproposal.title}"

// variables

- a_dataset_form = j render partial: "add_dataset", locals: { datasets: { id: nil, aspect: nil }}


/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      Edit datasets: #{@paperproposal.title.truncate(80)}

.div.pl-2
  .div.pb-3.pt-3
    .proposal_datasets_form
      = form_tag controller: 'paperproposals', action: 'update_datasets' do |f|
        #proposal_datasets
          %noscript
            %p enable javascript to manage datasets.
          = render partial: "add_cart_dataset", locals: { datasets: { id: nil, aspect: nil }}
        #btn_add_dataset.btn.btn-sm.btn-outline-success
          = fa_icon('plus', text: "Add dataset")
        .pt-5.pb-2
          - if @paperproposal.board_state == 'final'
            %p
              // todo: if this is really true then it is not working. check the implementation
              = submit_tag 'Save', class: 'btn btn-outline-primary', class: 'd-none'
              = link_to 'Save', "javascript:void(0)".html_safe,
                { class: "btn btn-outline-primary",
                'data-toggle': "modal",
                'data-target': "#revoke_all_download_rights"}
          - else
            %p
              = submit_tag 'Save', class: 'btn btn-outline-primary'


// delete confirmation modal
#revoke_all_download_rights.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title Revoke rights
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      / Modal body
      .modal-body
        .text-justify
          // todo: if this is really true then it is not working. check the implementation
          Saving the new dataset will revoke all the granted download
          rights. Are you sure?
      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"} Cancel
        #submit_proposal_datasets_form.btn.btn-outline-primary
          Yes

/ scripts

/ modal: when the  button is clicked on the login form
:javascript
  $(document).ready(function() {
    $('#submit_proposal_datasets_form').click(function () {
      $('.proposal_datasets_form').find('input[type=submit]').click();
    });
  });

// init select pickers
:javascript
  $(function () {
    $('select').selectpicker({
      liveSearch: true
    });

    $('.remove_button').click(function() {
        $(this).closest('.dataset').remove();
    });

  });

// append a role form
:javascript
  $("#btn_add_dataset").click(function(){
    $("#proposal_datasets").append("#{a_dataset_form}");

    $(function () {
      $('select').selectpicker({
        liveSearch: true
      });

      $('.remove_button').click(function() {
          $(this).closest('.dataset').remove();
      });

    });

    return(false);
  })
