// todo: check, integrate and remove the commented things below
-# - if may_administrate_paperproposals? || is_paperproposal_author?
  -# = content_for :actions do
    -# %ul
      -# - if @paperproposal.lock
        -# %li
          -# = image_tag("lock-closed.png")
          -# Locked
      -# - if may_administrate_paperproposals? || author_may_edit?
        -# %li
          -# = link_to edit_paperproposal_path(@paperproposal) do
            -# = image_tag("edit.png")
            -# Edit Metadata
        -# %li
          -# = link_to edit_files_paperproposal_path(@paperproposal) do
            -# = image_tag("edit.png")
            -# Manage Files
      -# - if may_administrate_paperproposals? || author_may_edit_datasets?
        -# %li
          -# = link_to edit_datasets_paperproposal_path(@paperproposal) do
            -# = image_tag("edit.png")
            -# Manage Datasets
      -# - if may_administrate_paperproposals?
        -# %li
          -# = link_to administrate_votes_paperproposal_path(@paperproposal) do
            -# = image_tag("edit.png")
            -# Admin
      -# - if may_administrate_paperproposals? || is_paperproposal_author?
        -# %li
          -# = link_to safe_delete_paperproposal_path(@paperproposal), data: { confirm: "Do you really want to delete this paperproposal?" } do
            -# = image_tag("trash.png")
            -# Delete

-# = content_for :info do
  -# %h3 State
  -# %p= @paperproposal.state
  -# %h3 Author
  -# = render partial: @paperproposal.author, locals: {extra: @paperproposal.author.alumni ? 'Alumni' : nil}
  -# - unless @paperproposal.proponents.empty?
    -# %h3 Main Proponents
    -# %ul
      -# - @paperproposal.proponents.order(:alumni).each do |u|
        -# %li= render partial: u, locals: {extra: u.alumni ? 'Alumni' : nil}
  -# - unless @paperproposal.authored_by_project.blank?
    -# %h3 Project
    -# = link_to @paperproposal.authored_by_project.name, @paperproposal.authored_by_project


/ head

// title
- page_title "Paper proposal: #{@paperproposal.title}"


/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %span{'data-toggle': 'tooltip', title: 'Back to index', 'data-placement': 'auto'}
        %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
        = link_to "Show: #{@paperproposal.title.truncate(80)}", paperproposals_path, class: 'text-muted'


// sidebar
= content_for :actions do
  #actions.pt-1
    // scroll to top
    = link_to "<i class='fas fa-angle-double-up'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-top",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      'title': "Up" ,
      'data-placement': "auto"}

    // actions
    .div.pt-2.pb-2

      // placeholder if action bar is empty
      - unless current_user
        .btn.btn-sm.btn-outline-light
          .text-muted
            o

      - if current_user
        - unless may_administrate_paperproposals? || is_paperproposal_author?
          .btn.btn-sm.btn-outline-light
            .text-muted
              o

      // section info
      - if current_user
        - if may_administrate_paperproposals? || is_paperproposal_author?
          - if @paperproposal.lock
            .border-top.border-right.border-left.rounded.top-2.pb-1
              %span{'data-toggle': 'tooltip', title: 'Info section', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-info'></i>".html_safe, "#",
                  { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                    'data-turbolinks': false }

      // section info content
      - if current_user
        - if may_administrate_paperproposals? || is_paperproposal_author?
          - if @paperproposal.lock
            .div.pt-2
              %span{'data-toggle': 'tooltip', title: 'Locked', 'data-placement': 'auto'}
                = link_to "<i class='fas fa-lock'></i>".html_safe, "#",
                  { class: "btn btn-sm btn-block btn-outline-light text-success",
                    'data-toggle': "modal",
                    'data-target': "#comment_user"}
            .div.pb-4

      / section edit
      - if may_administrate_paperproposals? || is_paperproposal_author?
        - if may_administrate_paperproposals? || author_may_edit?
          .border-top.border-right.border-left.rounded.top-2.pb-1
            %span{'data-toggle': 'tooltip', title: 'Edit section', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-pencil-alt'></i>".html_safe, "#",
                { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                  'data-turbolinks': false }
      // section edit content
      - if may_administrate_paperproposals? || is_paperproposal_author?
        - if may_administrate_paperproposals? || author_may_edit?
          .div.pt-2
            = link_to "<i class='fas fa-tag'></i>".html_safe, edit_paperproposal_path(@paperproposal),
              { class: "btn btn-sm btn-block btn-outline-light text-success",
              'data-toggle': "tooltip",
              title: "Edit metadata" ,
              'data-placement': "auto"}
            // todo: finally remove the related view and the path
            -# = link_to "<i class='fas fa-paperclip'></i>".html_safe, edit_files_paperproposal_path(@paperproposal),
              -# { class: "btn btn-sm btn-block btn-outline-light text-success",
              -# 'data-toggle': "tooltip",
              -# title: "Edit attachments" ,
              -# 'data-placement': "auto"}

        - if may_administrate_paperproposals? || author_may_edit_datasets?
          .div.pt-2
            // todo: add a modal to add and edit datasets
            = link_to "<i class='fas fa-file-alt'></i>".html_safe, edit_datasets_paperproposal_path(@paperproposal),
              { class: "btn btn-sm btn-block btn-outline-light text-success",
              'data-toggle': "tooltip",
              title: "Edit datasets" ,
              'data-placement': "auto"}

            -# %span{'data-toggle': 'tooltip', title: 'Edit datasets', 'data-placement': 'auto'}
              -# = link_to "<i class='fas fa-pencil-alt'></i>".html_safe, "#",
                -# { class: "btn btn-sm btn-outline-light text-primary",
                  -# 'data-toggle': "modal",
                  -# 'data-target': "#edit_datasets"}


          .div.pb-4

      / section tools
      - if may_administrate_paperproposals? || is_paperproposal_author?
        .border-top.border-right.border-left.rounded.top-2.pb-1
          %span{'data-toggle': 'tooltip', title: 'Tools section', 'data-placement': 'auto'}
            = link_to "<i class='fas fa-wrench'></i>".html_safe, "#",
              { class: "btn btn-sm btn-block btn-outline-light text-muted disabled",
                'data-turbolinks': false }
      // section tools content
      - if may_administrate_paperproposals? || is_paperproposal_author?
        - if may_administrate_paperproposals?
          // TODO: if there is no votes to approve there should be no button
          .div.pt-2
            = link_to "<i class='fas fa-vote-yea'></i>".html_safe, administrate_votes_paperproposal_path(@paperproposal),
              { class: "btn btn-sm btn-block btn-outline-light text-success",
              'data-toggle': "tooltip",
              title: "Administer votes" ,
              'data-placement': "auto"}
        - if may_administrate_paperproposals? || is_paperproposal_author?
          .div.pt-2
            %span{'data-toggle': 'tooltip', title: 'Delete proposal', 'data-placement': 'auto'}
              = link_to "<i class='fas fa-trash'></i>".html_safe, "#",
                { class: "btn btn-sm btn-block btn-outline-light text-success",
                'data-toggle': "modal",
                'data-target': "#delete_proposal"}

    // scroll to bottom
    = link_to "<i class='fas fa-angle-double-down'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-bottom",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Down" ,
      'data-placement': "auto"}

// tabs for content
.div.pl-2
  .div.pb-3.pt-3
    .row
      .col
        %ul#tabs.nav.nav-tabs
          %li.nav-item
            %a.active.nav-link.active{"data-toggle" => "tab", :href => "#proposal_tab_metadata", :role => "tab"} Metadata
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#proposal_tab_datasets", :role => "tab"} Datasets
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#proposal_tab_attachments", :role => "tab"} Attachments
        .tab-content.equal-height
          // metadata
          #proposal_tab_metadata.tab-pane.active{:role => "tabpanel"}
            .container
              %br
              // todo: integrate initial title
              -# - unless @paperproposal.initial_title == @paperproposal.title
                -# %p
                  -# %strong Initial title:
                  -# = @paperproposal.initial_title

              .div.pb-3
                .font-weight-bold.text-dark
                  Status:
                - if @paperproposal.state.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.state
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Title:
                - if @paperproposal.title.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.title
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Created at:
                - if @paperproposal.created_at.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.created_at.to_date
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Updated at:
                - if @paperproposal.updated_at.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.updated_at.to_date
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Envisaged journal:
                - if @paperproposal.envisaged_journal.present?
                  .font-weight-normal.text-dark
                    = sanitize @paperproposal.envisaged_journal
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Envisaged date:
                - if @paperproposal.envisaged_date.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.envisaged_date
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Rationale:
                - if @paperproposal.rationale.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.rationale
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Calculated authors:
                - if @paperproposal.all_authors_ordered.present?
                  .font-weight-normal.text-dark
                    = @paperproposal.all_authors_ordered.map{ |author| link_to(author, author) }.join(", ").html_safe
                - else
                  .font-weight-normal.text-muted
                    No information available

              .div.pb-3
                .font-weight-bold.text-dark
                  Board state:

                .div.pb-3
                  = render :partial => 'progress'

          // datasets
          #proposal_tab_datasets.tab-pane{:role => "tabpanel"}
            .container
              %br
              // TODO: check if we can remove dataset_paperproposals
              -# - if @paperproposal.dataset_paperproposals.present?
              - if @paperproposal.datasets.present?
                // filter for datasets
                %div.pb-1
                  .font-weight-bold.text-dark
                    Filter:

                %div.pb-3
                  .input-group
                    %input#filter_input_datasets.form-control{:placeholder => "Type..", :type => "text"}
                    .input-group-append
                      = link_to "Reset", "javascript:void(0)".html_safe,
                        { class: "btn btn-outline-primary", id: "button_clear_datasets_filter",
                        'data-toggle': "tooltip",
                        'data-turbolinks': false,
                        'title': "Clear Filter" ,
                        'data-placement': "auto"}

                // cards listing datasets
                #filter_target_datasets.card-columns.single
                  - @paperproposal.datasets.each do |dataset|
                    = render partial: dataset
              - else
                .font-weight-normal.text-dark
                  No information available

              #filter_target_datasets_empty_note.d-none
                No information avialable

          // attachments
          #proposal_tab_attachments.tab-pane{:role => "tabpanel"}
            .container
              %br

              // actions for dataset freeformats
              - if may_administrate_paperproposals? || is_paperproposal_author?
                - if may_administrate_paperproposals? || author_may_edit?
                  %div.pb-2
                    .font-weight-bold.text-dark
                      Actions:

                    %span{'data-toggle': 'tooltip', title: 'Add attachment', 'data-placement': 'auto'}
                      = link_to "<i class='fas fa-paperclip'></i>".html_safe, "#",
                        { class: "btn btn-sm btn-outline-light text-success",
                          'data-toggle': "modal",
                          'data-target': "#new_freeformat_file"}

              - if @paperproposal.freeformats.present?
                // filter for datasets
                %div.pb-1
                  .font-weight-bold.text-dark
                    Filter:

                %div.pb-3
                  .input-group
                    %input#filter_input_freeformats.form-control{:placeholder => "Type..", :type => "text"}
                    .input-group-append
                      = link_to "Reset", "javascript:void(0)".html_safe,
                        { class: "btn btn-outline-primary", id: "button_clear_freeformats_filter",
                        'data-toggle': "tooltip",
                        'data-turbolinks': false,
                        'title': "Clear Filter" ,
                        'data-placement': "auto"}

                // cards listing datasets
                #filter_target_freeformats.card-columns.double
                  - @paperproposal.freeformats.each do |freeformat|
                    = render partial: freeformat, locals: { index: true }

              - else
                .font-weight-normal.text-dark
                  No information available

              #filter_target_datasets_empty_note.d-none
                No information avialable


// add new freeformat file
#new_freeformat_file.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title
          Add freeformat file
        %button.close{"data-dismiss" => "modal", :type => "button"}
          ×
      / Modal body
      .modal-body
        .text-justify
        %br
        - new_freeformat = Freeformat.new
        .modal-form
          = simple_form_for new_freeformat, html: { multipart: true }, wrapper_mappings: { file: :custom_file, boolean: :custom_boolean } do |f|
            = f.input :file, hint: 'Select and replace the currently attached file'
            = f.input :description, value: new_freeformat.description, hint: 'Adapt the descrittion'
            = f.input :uri, placeholder: "An URI.  This can be a DOI or just an external link"
            = f.input :is_essential, as: :boolean, hint: 'Tick this if the attachment is an essential component of the suggested proposal e.g. a dataset which is required for the analysis'
            // in order to be able to add freeformats we need to pass in the type and the id
            = hidden_field_tag :freeformattable_type, 'Paperproposal'
            = hidden_field_tag :freeformattable_id, @paperproposal.id
            = f.button :submit, style: "display: none;", class: "btn btn-primary"
      / Modal footer
      .modal-footer
        %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"}
          Close
        #submit_add_freeformat_file_form.btn.btn-outline-primary
          Submit


/ scripts

// activate the correct main navigation link
:javascript
  $(document).ready(function() {
    $('#navigation_paperproposals_path').find('.nav-item').addClass('active');
  });

// set tabs to equal height
:javascript
  $(document).ready(function() {
    var maxHeight=0;
    $(".tab-content.equal-height .tab-pane").each(function(){
      $(this).addClass("active");
        var height = $(this).height();
        maxHeight = height>maxHeight?height:maxHeight;
        $(this).removeClass("active");
    });
    $(".tab-content.equal-height .tab-pane:first").addClass("active");
    $(".tab-content.equal-height").height(maxHeight);
  });

// scolling on button click
:javascript
  $(document).ready(function(){
    // scroll body to 0px on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
          }, 400);
            return false;
    });

    // scroll body to 0px on click
    $('#back-to-bottom').click(function () {
      $('body,html').animate({
        scrollTop: $('html, body').get(0).scrollHeight
          }, 400);
            return false;
    });
  });

/ modal: when the submit button is clicked on the login form
:javascript
  $(document).ready(function() {
    $('#submit_add_freeformat_file_form').click(function () {
      $('.modal-form').find('input[type=submit]').click();
    });
  });

// workaround for displaying selected file
:javascript
  $('.custom-file-input').change(function(e){
    var fileName = e.target.files[0].name;
    $(`.custom-file-label[for=${e.currentTarget['id']}]`).html(fileName);
  });

// filter the datasets
:javascript
  $(document).ready(function() {
    $('#filter_input_datasets').keyup(function (){
      $('.card').removeClass('d-none');
        var filter = $(this).val(); // get the value of the input, which we filter on
          $('#filter_target_datasets').find('.card .card-body:not(:contains("'+filter+'"))').parent().addClass('d-none');
          if (!$("#filter_target_datasets").find('.card').is(':visible')) {
            $("#filter_target_datasets_empty_note").removeClass('d-none');
          } else {
            $("#filter_target_datasets_empty_note").addClass('d-none');
          };
      });
    });

  $(document).ready(function() {
    $('#button_clear_datasets_filter').click(function(){
      $('#filter_input_datasets').each(function(){
        $(this).val('');
      });
      $('#filter_target_datasets').find('.card').removeClass('d-none');
      $("#filter_target_datasets_empty_note").addClass('d-none');
    });
  });

  $(document).ready(function() {
    $('.nav-link').click(function(){
      $('#filter_input_datasets').each(function(){
        $(this).val('');
        $('#filter_target_datasets').find('.card').removeClass('d-none');
        $("#filter_target_datasets_empty_note").addClass('d-none');
      });
    });
  });

// filter the attachments
:javascript
  $(document).ready(function() {
    $('#filter_input_freeformats').keyup(function (){
      $('.card').removeClass('d-none');
        var filter = $(this).val(); // get the value of the input, which we filter on
          $('#filter_target_datasets').find('.card .card-body:not(:contains("'+filter+'"))').parent().addClass('d-none');
          if (!$("#filter_target_datasets").find('.card').is(':visible')) {
            $("#filter_target_datasets_empty_note").removeClass('d-none');
          } else {
            $("#filter_target_datasets_empty_note").addClass('d-none');
          };
      });
    });

  $(document).ready(function() {
    $('#button_clear_datasets_filter').click(function(){
      $('#filter_input_freeformats').each(function(){
        $(this).val('');
      });
      $('#filter_target_datasets').find('.card').removeClass('d-none');
      $("#filter_target_datasets_empty_note").addClass('d-none');
    });
  });

  $(document).ready(function() {
    $('.nav-link').click(function(){
      $('#filter_input_freeformats').each(function(){
        $(this).val('');
        $('#filter_target_datasets').find('.card').removeClass('d-none');
        $("#filter_target_datasets_empty_note").addClass('d-none');
      });
    });
  });
