/ body

.div.pb-3
  .font-weight-bold.text-dark
    Column:
  - if @datacolumn.columnheader.present?
    .font-weight-normal.text-dark
      = @datacolumn.columnheader
  - else
    .font-weight-normal.text-muted
      No information available

%p
  .text-justify
    Below you find an overview about the datacolumn
    %strong #{@datacolumn.columnheader}
    you selected for approval. The numbers behind each datacolumn
    on the left side indicate the current status of their approval.
    Finishing one step of the approval in this wizard will increment
    the counter by one. When the counter reaches 4 all steps are
    completed and the values are accepted as correct in the database.

// content in tabs
.div.pb-3
  .font-weight-bold.text-dark
    Datagroup:
  - if @datacolumn.datagroup_approved?
    .font-weight-normal.text-dark
      = link_to @datacolumn.datagroup.title, @datacolumn.datagroup, class: "font-weight-normal text-dark"
  - else
    .font-weight-normal.text-muted
      Unapproved

.div.pb-3
  .font-weight-bold.text-dark
    Dataype:
  - if @datacolumn.datatype_approved?
    .font-weight-normal.text-dark
      = @datacolumn.import_data_type
  - else
    .font-weight-normal.text-muted
      Unapproved

.div.pb-3
  .font-weight-bold.text-dark
    Invalid values:
  - if @datacolumn.has_invalid_values?
    .font-weight-normal.text-dark
      Unapproved
  - else
    .font-weight-normal.text-dark
      No invalid values

.div.pb-3
  .font-weight-bold.text-dark.pb-2
    Metadata:
  - if @datacolumn.finished?
    .container
      .div.pb-3
        .font-weight-bold.text-dark
          Definition:
        - if @datacolumn.definition.present?
          .font-weight-normal.text-dark
            = @datacolumn.definition
        - else
          .font-weight-normal.text-muted
            No information available

      .div.pb-3
        .font-weight-bold.text-dark
          Unit:
        - if @datacolumn.unit.present?
          .font-weight-normal.text-dark
            = @datacolumn.unit
        - else
          .font-weight-normal.text-muted
            No information available

      .div.pb-3
        .font-weight-bold.text-dark
          Comment:
        - if @datacolumn.comment.present?
          .font-weight-normal.text-dark
            = @datacolumn.comment
        - else
          .font-weight-normal.text-muted
            No information available

      .div.pb-3
        .font-weight-bold.text-dark
          Reference:
        - if @datacolumn.informationsource.present?
          .font-weight-normal.text-dark
            = @datacolumn.informationsource
        - else
          .font-weight-normal.text-muted
            No information available

      .div.pb-3
        .font-weight-bold.text-dark
          People:
        - if @datacolumn.users.present?
          .font-weight-normal.text-dark
            = @datacolumn.users.map{ |user| link_to(user,user)}.join(", ").html_safe
        - else
          .font-weight-normal.text-muted
            No information available
  - else
    .font-weight-normal.text-muted
      Unapproved

/ functions

// enable correct menu tab
:javascript
  $(document).ready(function() {
    $('#navigation_datasets_path').find('.nav-item').addClass('active');
  });





