%nav.navbar.navbar-expand-lg.navbar-light.border-bottom.pb-0.pl-0.pr-0.pt-0
  -# {:style => "background-color: #F5F5F5;"}.
  -# .navbar-brand
    -# = link_to 'BEF-Data', root_path, class: "font-weight-bold text-muted"
  %button.navbar-toggler{"aria-controls" => "navigation_bar",
    "aria-expanded" => "false", "aria-label" => "Toggle navigation",
    "data-target" => "#navigation_bar", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navigation_bar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      #navigation_root_path
        %li.nav-item{class: current_page?(root_path) && 'active'}
          = link_to 'Home', root_path, class: "nav-link"
      #navigation_projects_path
        %li.nav-item{class: current_page?(projects_path) && 'active'}
          = link_to 'Projects', projects_path, class: "nav-link"
      #navigation_users_path
        %li.nav-item{class: current_page?(users_path) && 'active'}
          = link_to 'Staff', users_path, class: "nav-link"
      #navigation_datasets_path
        %li.nav-item{class: current_page?(datasets_path) && 'active'}
          = link_to 'Datasets', datasets_path, class: "nav-link"
      - if current_user
        #navigation_datagroups_path
          %li.nav-item{class: current_page?(datagroups_path) && 'active'}
            = link_to 'Datagroups', datagroups_path, class: "nav-link"
      #navigation_paperproposals_path
        %li.nav-item{class: current_page?(paperproposals_path) && 'active'}
          = link_to 'Papers', :paperproposals, class: "nav-link"
    .div
      - if current_user
        .btn-group
          = link_to "<i class='fas fa-user' style='font-size:13px; vertical-align: middle;'></i>".html_safe, profile_path,
            { class: "btn btn-outline-light gray-border text-muted",
            'data-toggle': "tooltip",
            'title': "Logged in as: #{current_user}",
            'data-placement': "auto"}
          - if current_user.open_votes_count > 0
            = link_to "<i class='fas fa-vote-yea' style='font-size:13px; vertical-align: middle;'></i> # #{current_user.open_votes_count}".html_safe, votes_profile_path,
              { class: "btn btn-outline-light gray-border text-primary",
              'data-toggle': "tooltip",
              'title': "Data requests",
              'data-placement': "auto"}
          - else
            = link_to "<i class='fas fa-vote-yea' style='font-size:13px; vertical-align: middle;'></i> # #{current_user.open_votes_count}".html_safe, votes_profile_path,
              { class: "btn btn-outline-light gray-border text-muted",
              'data-toggle': "tooltip",
              'title': "Data requests",
              'data-placement': "auto"}
          - if current_user.notifications.where(:read => false).count > 0
            = link_to "<i class='fas fa-bell' style='font-size:13px; vertical-align: middle;'></i> # #{current_user.notifications.where(:read => false).count}".html_safe, notifications_path,
              { class: "btn btn-outline-light gray-border text-primary",
              'data-toggle': "tooltip",
              'title': "Notifications",
              'data-placement': "auto"}
          - else
            = link_to "<i class='fas fa-bell' style='font-size:13px; vertical-align: middle;'></i> # #{current_user.notifications.where(:read => false).count}".html_safe, notifications_path,
              { class: "btn btn-outline-light gray-border text-muted",
              'data-toggle': "tooltip",
              'title': "Notifications",
              'data-placement': "auto"}
          - if current_cart.datasets.count > 0
            // also highlight how many items are in the cart and if there are any at all
            = link_to "<i class='fas fa-shopping-cart' style='font-size:13px; vertical-align: middle;'></i> # #{current_cart.datasets.count}".html_safe, current_cart_url,
              { class: "btn btn-outline-light gray-border text-primary",
              'data-toggle': "tooltip",
              'title': "Cart",
              'data-placement': "auto"}
          - else
            = link_to "<i class='fas fa-shopping-cart' style='font-size:13px; vertical-align: middle;'></i> # #{current_cart.datasets.count}".html_safe, current_cart_url,
              { class: "btn btn-outline-light gray-border text-muted",
              'data-toggle': "tooltip",
              'title': "Cart",
              'data-placement': "auto"}
          = link_to "<i class='fas fa-sign-out-alt' style='font-size:13px; vertical-align: middle;'></i>".html_safe, logout_path,
            { class: "btn btn-outline-light gray-border text-muted",
            'data-toggle': "tooltip",
            'title': "Logout",
            'data-placement': "auto"}
      - else
        = link_to "<i class='fas fa-sign-in-alt' style='font-size:13px; vertical-align: middle;'></i> Login".html_safe, "#",
          { class: "btn btn-outline-light gray-border text-muted",
            'data-toggle': "modal",
            'data-target': "#login_form"}

// comment display modal
#login_form.modal.fade
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content
      / Modal Header
      .modal-header
        .m-auto
          %h4.modal-title.w-100
            Login
      / Modal body
      .modal-body
        .container.pt-1
          .modal-form
            = simple_form_for UserSession.new, :url => user_session_path do |f|
              = f.input :login, required: false, label: "Name", input_html: { id: "login_input_field" }, wrapper_html: { class:  'font-weight-bold text-muted' }
              = f.input :password, required: false, wrapper_html: { class:  'font-weight-bold text-muted' }
              = f.input :remember_me, as: :boolean, wrapper_html: { class:  'font-weight-bold text-muted' }
              = f.button :submit, style: "display: none;", class: "btn btn-primary"
      / Modal footer
      .modal-footer
        .m-auto
          %button.btn.btn-outline-primary{"data-dismiss" => "modal", :type => "button"}
            Close
          #submit_login_form.btn.btn-outline-primary
            Submit

/ modal: when the submit button is clicked on the login form
:javascript
  $(document).ready(function() {
    $('#submit_login_form').click(function () {
      $('.modal-form').find('input[type=submit]').click();
    });
  });

// todo: Add some code which based on the current url set the correct tab to active
// this is not working:
-# $(document).ready(function () {
-# console.log($('a[href="' + this.location.pathname + '"]'))
-# //$('a[href="' + this.location.pathname + '"]').parent().addClass('active');
-# });
