/ head

// title
- page_title "Merge keywords"

/ body


// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %span{'data-toggle': 'tooltip', title: 'Back to index', 'data-placement': 'auto'}
        %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
        = link_to "Merge: keywords", keywords_path, class: 'text-muted'

/ body
.div.pl-2
  .div.pb-3.pt-3
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{"data-toggle" => "tab", :href => "#tab-1", :role => "tab"} Renamer
    .tab-content.equal-height
      #tab-1.tab-pane.active{:role => "tabpanel"}
        .container
          %br

          %p.text-justify
            Here you can merge the selected keywords. On the left hand side you
            find the selected keyword and on the right hand side you can choose
            a target keword to merge them into. For the target you can choose
            from existing keywords or create a new one. When you are done click
            on merge.

          %table#merge-table
            = form_tag merge_keywords_path do
              .table-responsive
                %table.table.table-striped#rename-table
                  %thead
                    %tr
                      %th Selected
                      %th
                      %th Merge into
                  %tbody
                    %tr
                      %td
                        .pt-2
                          %ul.list-unstyled
                            - @keywords.each do |tag|
                              %li
                                = tag.name
                                = hidden_field_tag 'keywords[]', tag.id, id: nil
                      %td
                        .pt-4
                          = image_tag 'arrow_join_accept.png'
                      %td
                        .pt-2
                          %fieldset
                            = label_tag 'merge_to', 'Select existing keyword'
                            = select_tag :merge_to, options_from_collection_for_select(ActsAsTaggableOn::Tag.all, :id, :name), class: 'form-control form_select'
                            %div.pt-4
                              = label_tag 'new_keyword', 'Create new keyword'
                              %br
                              = text_field_tag 'new_keyword', nil, { class: 'form-control' }
                              %br
                              = link_to "<i class='fas fa-angle-double-left' vertical-align: middle;'></i> Back".html_safe, keywords_path,
                                { class: "btn btn-outline-primary" }
                              = submit_tag "Merge", class: 'btn btn-outline-primary'


/ scripts

// initialize selectpickers
:javascript
  $(document).on('turbolinks:load', function() {
    $('.form_select').selectpicker({
      liveSearch: true,
      liveSearchPlaceholder: "type to filter ...",
      actionsBox: true
    });
  });

  // fix style on cache reload of pickers
  $(document).on('turbolinks:before-cache', function() {
    $('.form_select').selectpicker('destroy').addClass('selectpicker')
  });
