/ title

- page_title "Rename keywords"

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %span{'data-toggle': 'tooltip', title: 'Back to index', 'data-placement': 'auto'}
        %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
        = link_to "Rename: keywords", keywords_path, class: 'text-muted'

.div.pl-2
  .div.pb-3.pt-3
    = form_tag rename_keywords_path do
      %table#rename-table
        %thead
          %tr
            %th From
            %th To
        %tbody
          - @keywords.each do |t|
            %tr.pb-4.pl-4.pr-4
              %td= t.name_changed? ? t.name_was : t.name
              %td
                = fields_for 'keywords[]', t do |f|
                  = f.text_field :name, class: 'form-control'
                - unless t.errors.empty?
                  %span.error= t.errors.full_messages.to_sentence
      .pt-4
        = submit_tag :Confirm, class: 'btn btn-outline-primary'
