/ form for adding a freeformat
- f = form
= f.input :file, as: :file
= f.input :description, value: freeformat.description
- if freeformattable.is_a? Paperproposal
  = f.input :is_essential, as: :boolean
  = f.input :uri
= f.button :submit, style: "display: none;", class: "btn btn-primary"

