/ title

- page_title "Categories"

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      Index: categories

/ sidebar

= content_for :actions do
  #actions.pt-1
    // scroll up
    = link_to "<i class='fas fa-angle-double-up'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-top",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Up" ,
      'data-placement': "auto"}
    // actions
    .div.pt-2.pb-2
      .btn.btn-sm.btn-outline-light
        .text-muted
          o

    // scroll down
    = link_to "<i class='fas fa-angle-double-down'></i>".html_safe, "#",
      { class: "btn btn-sm btn-outline-light text-secondary", id: "back-to-bottom",
      'data-toggle': "tooltip",
      'data-turbolinks': false,
      title: "Down" ,
      'data-placement': "auto"}

// filters
.div.pl-2
  .div.pb-2.pt-3
    = simple_form_for :search, url: categories_path, method: :get do |f|
      / search bar
      %h5
        Search:
      - if params.has_key?(:search) ? params[:search].has_key?(:query) : false
        = f.input :query, required: false, label: false do
          .input-group
            = f.input_field :query, class: "form-control", placeholder: "Type...", value: params[:search][:query]
            .input-group-append
              #search_button.btn.btn-outline-primary
                Submit
            .input-group-append
              = link_to "Reset", categories_path, class: "btn btn-outline-primary"
      - else
        = f.input :query, required: false, label: false do
          .input-group
            = f.input_field :query, class: "form-control", placeholder: "Type...", value: ""
            .input-group-append
              #search_button.btn.btn-outline-primary
                Submit
            .input-group-append
              = link_to "Reset", categories_path, class: "btn btn-outline-primary"
      = f.button :submit, "Submit", class: "btn btn-outline-primary", :style => "display: none;"

  // sorting
  .div.pb-4
    %h5
      Sort:
    .btn-group
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "short", "Name"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "created_at", "Created", "numeric"
      #sort_button.btn.btn-outline-light.gray-border
        = sortable "updated_at", "Updated", "numeric"

  // content

  - if @categories.present?
    #filter_target_categories.card-columns.double
      - @categories.each do |category|
        = link_to category do
          .card.shadow-sm.mb-4
            .card-body
              %h4.card-title
                Category:
                = category.id
              %p.card-text
                .font-weight-bold.text-dark
                  Short:
                - if category.short.blank?
                  .font-weight-normal.text-dark
                    No information available
                - else
                  .font-weight-normal.text-dark
                    = category.short.truncate(250)
                .font-weight-bold.text-dark
                  Long:
                - if category.long.blank?
                  .font-weight-normal.text-dark
                    No information available
                - else
                  .font-weight-normal.text-dark
                    = category.long.truncate(250)
                .font-weight-bold.text-dark
                  Description:
                - if category.description.blank?
                  .font-weight-normal.text-dark
                    No information available
                - else
                  .font-weight-normal.text-dark
                    = category.description.truncate(250)
              .pt-2.pb-3
                .float-left
                  .badge.badge-pill.badge-light.m-1
                    .p-1
                      - if category.created_at
                        = fa_icon('calendar')
                        Created at:
                        = category.created_at.strftime("%F")
                  .badge.badge-pill.badge-light.m-1
                    .p-1
                      - if category.updated_at
                        = fa_icon('calendar')
                        Updated at:
                        = category.updated_at.strftime("%F")

  - else
    No information avialable

  // pagination
  .div
    .pt-3
      != pagy_bootstrap_nav @pagy


/ scripts

// activate the correct main navigation link
:javascript
  $(document).ready(function() {
    $('#navigation_datasets_path').find('.nav-item').addClass('active');
  });

// setup hover shadow on the cards
:javascript
  $(document).ready(function() {
    $( ".card" ).hover(
      function() {
        $(this).addClass('shadow').css('cursor', 'pointer');
      }, function() {
        $(this).removeClass('shadow');
      }
    );
  });

// scolling on button click
:javascript
  $(document).ready(function(){
    // scroll body to 0px on click
    $('#back-to-top').click(function () {
      $('body,html').animate({
        scrollTop: 0
          }, 400);
            return false;
    });

    // scroll body to 0px on click
    $('#back-to-bottom').click(function () {
      $('body,html').animate({
        scrollTop: $('html, body').get(0).scrollHeight
          }, 400);
            return false;
    });
  });

// submit the form
:javascript
  // when search button is clicked
  $(document).ready(function() {
    $('#search_button').click(function () {
      var $form = $(this).closest('form');
      $form.find('input[type=submit]').click();
    });
  });
