!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag asset_path('favicon.ico')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if with_customized_layout?
      = stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'site', 'data-turbolinks-track' => true
    %title
      = SITE_CONFIG[:title]
      - if content_for? :title
        |
        = yield(:title)
      - elsif SITE_CONFIG[:subtitle]
        |
        = SITE_CONFIG[:subtitle]
    = csrf_meta_tags
  %body
    %header
      - sidebar_exists = content_for?(:actions) || content_for?(:info) || content_for?(:filters)
    // pushes the footer down the viewport
    #wrap
      // pushes the footer down the viewport
      #main.container.clear-top
        .row
          .col-12
            = render :partial => "pages/#{LayoutHelper::BEF_LAYOUT}/head"
        .row
          .col-12
            .pt-2
              = render :partial => 'pages/menu'
        .row
          .col-12
            .mt-3
              %span
                #flash
                  - flash.each do |name, msg|
                    - if msg.is_a?(String)
                      %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", :role => "alert"}
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                        = content_tag :div, msg, :id => "flash_#{name}"
        .row
          %div{:class => sidebar_exists ? "col-11" : "col-12"}
            = content_for?(:content) ? yield(:content) : yield
          - if sidebar_exists
            .col-1.text-center.hide-overflow
              %ul.list-group.sticky-top.pt-3
                // todo: remove the unused content groups when the ui rewrite is complete
                - if content_for?(:actions)
                  %li.list-group-item
                    %span
                      = yield :actions
                - if content_for?(:filters)
                  %li.list-group-item
                    %span
                      %h5 Filters:
                      = yield :filters
                - if content_for?(:info)
                  %li.list-group-item
                    %span
                      = yield :info
    // pushes the footer down the viewport
    %footer#footer
      .container.pt-3
        = render :partial => "pages/#{LayoutHelper::BEF_LAYOUT}/foot"
