!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag asset_path('favicon.ico')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if with_customized_layout?
      = stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'site', 'data-turbolinks-track' => true
    %title
      = SITE_CONFIG[:title]
      - if content_for? :title
        |
        = yield(:title)
      - elsif SITE_CONFIG[:subtitle]
        |
        = SITE_CONFIG[:subtitle]
    = csrf_meta_tags
  %body
    %header
      = render partial: "pages/#{LayoutHelper::BEF_LAYOUT}/logo"
      - sidebar_exists = content_for?(:actions)
    // pushes the footer down the viewport
    #wrap
      // pushes the footer down the viewport
      #main.container.clear-top
        .row
          .col-12
            // a logo ih the header
            -# = link_to image_tag('header-logo.png')
            = render partial: "pages/#{LayoutHelper::BEF_LAYOUT}/head"
        .row
          .col-12
            .pt-2
              // main navigation bar
              = render partial: 'pages/menu'
        .row
          .col-12
            .mt-3
              %span
                #flash
                  - flash.each do |name, msg|
                    - if msg.is_a?(String)
                      %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", :role => "alert"}
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                        = content_tag :div, msg, :id => "flash_#{name}"
        .row
          %div{:class => sidebar_exists ? "col-lg-11 col-md-11 col-sm-10 order-1" : "col-12"}
            = content_for?(:content) ? yield(:content) : yield

          - if sidebar_exists
            .col-lg-1.col-md-1.col-sm-2.order-lg-2.order-md-2.order-sm-2
              %div.sticky-top.pt-3
                %ul.list-group.text-center
                  - if content_for?(:actions)
                    %li.list-group-item
                      %span
                        = yield :actions

    // pushes the footer down the viewport
    %footer#footer
      .container.pt-3
        = render partial: "pages/#{LayoutHelper::BEF_LAYOUT}/foot"
